@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    int[] age = ViewData["age"] as int[];
    string[] name = ViewData["name"] as string[];
    int[] family = ViewData["family"] as int[];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table style="border-style: solid; margin-left: auto; margin-right: auto;">
    <tr>
        <th>名字</th>
        <th>歲數</th>
        <th>家庭人數</th>
    </tr>
    @for (var i = 0; i < name.Length; i++)
    {
        <tr>
            <td>@name[i]</td>
            <td>@age[i]</td>
            <td>@family[i]</td>
        </tr>
    }
</table>

<style>
    table td, table th {
        border: 1px solid black;
    }
</style>